html{
    font-size: 1.3rem;
}
button{
    font-size: 0.9rem;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.game-container > .input-container  {
    width: fit-content;
    width: 200px;
    padding: 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.game-container> .input-container > label:hover{
    cursor: pointer;
}

.game-container > .input-container:hover{
    cursor: pointer;
}